<div class="page">
  <mat-tab-group class="app-navbar" mat-align-tabs="center" color="accent" backgroundColor="primary"
    animationDuration="0ms">

    <mat-tab label="Single Picture">
      <div class="tab-content m-3">
        <app-single-pic></app-single-pic>
      </div>
    </mat-tab>

    <mat-tab label="Gallery">
      <div class="tab-content m-3">
        <mat-card class="mat-elevation-z4">Gallery</mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Settings">
      <div class="tab-content m-3">
        <app-settings></app-settings>
      </div>
    </mat-tab>

  </mat-tab-group>

  <router-outlet></router-outlet>

</div>
